<footer class="site-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h2 class="footer-heading text-uppercase mb-4">About Project</h2>
          <p>Meraki is database for online courses available on various sites like Udacity,Coursera etc.</p>
        </div>
        <div class="col-md-3 ml-auto">
          <h2 class="footer-heading text-uppercase mb-4">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/catalouge">Catalog</a></li>
            <li><a href="/contact-us">Contacts</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2 class="footer-heading text-uppercase mb-4">Connect with Us</h2>
          <p>
            <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
            <a href="#" class="p-2"><span class="icon-twitter"></span></a>
            <a href="#" class="p-2"><span class="icon-youtube"></span></a>
            <a href="#" class="p-2"><span class="icon-instagram"></span></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  
</div>

<script src="/index/js/jquery-3.3.1.min.js"></script>
<script src="/index/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/index/js/jquery-ui.js"></script>
<script src="/index/js/popper.min.js"></script>
<script src="/index/js/bootstrap.min.js"></script>
<script src="/index/js/owl.carousel.min.js"></script>
<script src="/index/js/jquery.stellar.min.js"></script>
<script src="/index/js/jquery.countdown.min.js"></script>
<script src="/index/js/jquery.magnific-popup.min.js"></script>
<script src="/index/js/bootstrap-datepicker.min.js"></script>
<script src="/index/js/aos.js"></script>

<script src="/index/js/main.js"></script>
  
</body>
</html>