<% include partials/header %>

    <div class="site-section site-hero inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up">Get To Know</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2>About the Project</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <p>Meraki is database for online courses available on various sites like Udacity,Coursera etc.</p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
        <div>
          <div data-aos="fade-up" data-aos-delay="500">
            <p>Meraki is database for online courses available on various sites like Udacity,Coursera etc.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-4 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
              <h2 class="text-center">Our Team</h2>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="300">
            <div class="testimony text-center">
              <figure>
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Esha Jaiswal</p>
                <p class="text-muted mb-4">LIT2017009</p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="400">
            <div class="testimony text-center">
              <figure>
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Swastik Singh</p>
                <p class="text-muted mb-4">LIT2017021</p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="500">
            <div class="testimony text-center">
              <figure>
                <img src="images/yash.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Yash Gupta</p>
                <p class="text-muted mb-4">LIT2017043</p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="600">
            <div class="testimony text-center">
              <figure>
                <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Dushyant Singh</p>
                <p class="text-muted mb-4">LIT2017015</p>
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="500">
            <div class="testimony text-center">
              <figure>
                <img src="images/hidayat.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Hidayat Ullah Khan</p>
                <p class="text-muted mb-4">LIT2017029</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      
<% include partials/footer %>