<% include partials/header%>
      
          <div class="site-section containerc">
              <div class="content">
                <div class="header">Find Your Course here</div>
                <form class="search_bar" action="/search" method="GET">
                  <input type="text" name="course" placeholder="Search.." />
                </form>
                <div class="all_item">
                  <div class="items">
                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front"><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      /></div>
                      <div class="flip-card-back">
                        <a href="/category/python" class="course_name">Python</a>
                      </div></div>
                  </div>
                  <div class="flip-card">
                      <div class="flip-card-inner">
                        <div class="flip-card-front"><img
                          class="topic-thumbnail"
                          alt="Python"
                          src="https://hackr.io/tutorials/python/logo-python.svg"
                        /></div>
                        <div class="flip-card-back">
                          <a href="/category/python" class="course_name">Python</a>
                        </div></div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front"><img
                            class="topic-thumbnail"
                            alt="Python"
                            src="https://hackr.io/tutorials/python/logo-python.svg"
                          /></div>
                          <div class="flip-card-back">
                            <a href="/category/python" class="course_name">Python</a>
                          </div></div>
                      </div>
                      <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front"><img
                              class="topic-thumbnail"
                              alt="Python"
                              src="https://hackr.io/tutorials/python/logo-python.svg"
                            /></div>
                            <div class="flip-card-back">
                              <a href="/category/python" class="course_name">Python</a>
                            </div></div>
                        </div>
                        <div class="flip-card">
                            <div class="flip-card-inner">
                              <div class="flip-card-front"><img
                                class="topic-thumbnail"
                                alt="Python"
                                src="https://hackr.io/tutorials/python/logo-python.svg"
                              /></div>
                              <div class="flip-card-back">
                                <a href="/category/python" class="course_name">Python</a>
                              </div></div>
                          </div>
                          <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front"><img
                                  class="topic-thumbnail"
                                  alt="Python"
                                  src="https://hackr.io/tutorials/python/logo-python.svg"
                                /></div>
                                <div class="flip-card-back">
                                  <a href="/category/python" class="course_name">Python</a>
                                </div></div>
                            </div>
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front"><img
                                    class="topic-thumbnail"
                                    alt="Python"
                                    src="https://hackr.io/tutorials/python/logo-python.svg"
                                  /></div>
                                  <div class="flip-card-back">
                                    <a href="/category/python" class="course_name">Python</a>
                                  </div></div>
                              </div>
                              <div class="flip-card">
                                  <div class="flip-card-inner">
                                    <div class="flip-card-front"><img
                                      class="topic-thumbnail"
                                      alt="Python"
                                      src="https://hackr.io/tutorials/python/logo-python.svg"
                                    /></div>
                                    <div class="flip-card-back">
                                      <a href="/category/python" class="course_name">Python</a>
                                    </div></div>
                                </div>
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front"><img
                                        class="topic-thumbnail"
                                        alt="Python"
                                        src="https://hackr.io/tutorials/python/logo-python.svg"
                                      /></div>
                                      <div class="flip-card-back">
                                        <a href="/category/python" class="course_name">Python</a>
                                      </div></div>
                                  </div>
                                  <div class="flip-card">
                                      <div class="flip-card-inner">
                                        <div class="flip-card-front"><img
                                          class="topic-thumbnail"
                                          alt="Python"
                                          src="https://hackr.io/tutorials/python/logo-python.svg"
                                        /></div>
                                        <div class="flip-card-back">
                                          <a href="/category/python" class="course_name">Python</a>
                                        </div></div>
                                    </div>
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                          <div class="flip-card-front"><img
                                            class="topic-thumbnail"
                                            alt="Python"
                                            src="https://hackr.io/tutorials/python/logo-python.svg"
                                          /></div>
                                          <div class="flip-card-back">
                                            <a href="/category/python" class="course_name">Python</a>
                                          </div></div>
                                      </div>
                                      <div class="flip-card">
                                          <div class="flip-card-inner">
                                            <div class="flip-card-front"><img
                                              class="topic-thumbnail"
                                              alt="Python"
                                              src="https://hackr.io/tutorials/python/logo-python.svg"
                                            /></div>
                                            <div class="flip-card-back">
                                              <a href="/category/python" class="course_name">Python</a>
                                            </div></div>
                                        </div>
                                        <div class="flip-card">
                                            <div class="flip-card-inner">
                                              <div class="flip-card-front"><img
                                                class="topic-thumbnail"
                                                alt="Python"
                                                src="https://hackr.io/tutorials/python/logo-python.svg"
                                              /></div>
                                              <div class="flip-card-back">
                                                <a href="/category/python" class="course_name">Python</a>
                                              </div></div>
                                          </div>
                                          <div class="flip-card">
                                              <div class="flip-card-inner">
                                                <div class="flip-card-front"><img
                                                  class="topic-thumbnail"
                                                  alt="Python"
                                                  src="https://hackr.io/tutorials/python/logo-python.svg"
                                                /></div>
                                                <div class="flip-card-back">
                                                  <a href="/category/python" class="course_name">Python</a>
                                                </div></div>
                                            </div>
                                            <div class="flip-card">
                                                <div class="flip-card-inner">
                                                  <div class="flip-card-front"><img
                                                    class="topic-thumbnail"
                                                    alt="Python"
                                                    src="https://hackr.io/tutorials/python/logo-python.svg"
                                                  /></div>
                                                  <div class="flip-card-back">
                                                    <a href="/category/python" class="course_name">Python</a>
                                                  </div></div>
                                              </div>
                                              <div class="flip-card">
                                                  <div class="flip-card-inner">
                                                    <div class="flip-card-front"><img
                                                      class="topic-thumbnail"
                                                      alt="Python"
                                                      src="https://hackr.io/tutorials/python/logo-python.svg"
                                                    /></div>
                                                    <div class="flip-card-back">
                                                      <a href="/category/python" class="course_name">Python</a>
                                                    </div></div>
                                                </div>
                                                <div class="flip-card">
                                                    <div class="flip-card-inner">
                                                      <div class="flip-card-front"><img
                                                        class="topic-thumbnail"
                                                        alt="Python"
                                                        src="https://hackr.io/tutorials/python/logo-python.svg"
                                                      /></div>
                                                      <div class="flip-card-back">
                                                        <a href="/category/python" class="course_name">Python</a>
                                                      </div></div>
                                                  </div>
                                                  <div class="flip-card">
                                                      <div class="flip-card-inner">
                                                        <div class="flip-card-front"><img
                                                          class="topic-thumbnail"
                                                          alt="Python"
                                                          src="https://hackr.io/tutorials/python/logo-python.svg"
                                                        /></div>
                                                        <div class="flip-card-back">
                                                          <a href="/category/python" class="course_name">Python</a>
                                                        </div></div>
                                                    </div>
                                                    <div class="flip-card">
                                                        <div class="flip-card-inner">
                                                          <div class="flip-card-front"><img
                                                            class="topic-thumbnail"
                                                            alt="Python"
                                                            src="https://hackr.io/tutorials/python/logo-python.svg"
                                                          /></div>
                                                          <div class="flip-card-back">
                                                            <a href="/category/python" class="course_name">Python</a>
                                                          </div></div>
                                                      </div>
                                                      <div class="flip-card">
                                                          <div class="flip-card-inner">
                                                            <div class="flip-card-front"><img
                                                              class="topic-thumbnail"
                                                              alt="Python"
                                                              src="https://hackr.io/tutorials/python/logo-python.svg"
                                                            /></div>
                                                            <div class="flip-card-back">
                                                              <a href="/category/python" class="course_name">Python</a>
                                                            </div></div>
                                                        </div>
                
                </div>
              </div>
              </div>
            </div>

            
            <% include partials/footer%>
