body {
  background-color: #232531;
}
.containerc {
  width: 100%;
  text-align: center;
}
.content {
  width: 100%;
}
.header {
  text-transform: capitalize;
  font-size: 60px;
  font-family: "Roboto Mono";
  font-weight: 500;
  background: linear-gradient(to right, #c70039, #ff5733 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
}

.all_item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-around;
}
.item {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}
.item:hover {
  box-shadow: 5px 10px 8px #888888;
  transform: translateX(2px);
}
.item_link {
  display: flex;
  align-items: center;
  position: relative;
}
.topic-thumbnail {
  width: 150px;
  height: 150px;
  padding: 50px;
  display: block;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(54, 54, 54, 0.9);
}
.item:hover .overlay {
  opacity: 1;
}

.text {
  color: #ff5733;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 24px;
}
.item_link {
  text-decoration: none;
}
.topic {
  font-family: Roboto;
  color: #363636;
}

.search_bar {
  margin: 20px auto;
}
input[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
input[type="text"]:focus {
  width: 80%;
}
