<% include partials/header%>
      
          <div class="site-section containerc">
              <div class="content">
                <div class="header">Find Your Course here</div>
                <form class="search_bar" action="/search" method="GET">
                  <input type="text" name="course" placeholder="Search.." />
                </form>
                <div class="all_item">
                  <div class="item">
                    <a href="/category/python" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Python</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/web-development" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Web Development</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/javascript" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">JavaScript</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/java" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Java</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/c#" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">C#</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/react" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">React</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/angular" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Angular</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/android-development" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Android Development</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/data-science" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Data Science</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/machine-learning" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Machine Learning</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/data-analysis" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Data Analysis</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/deep-learning" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Deep Learning</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/sql" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">SQL</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/artificial-intelligence" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Artificial Intelligence</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/c++" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">C++</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/block-chain" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Block Chain</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/robotics" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Robotics</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/nodejs" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">NodeJs </div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/git" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Git</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/mongodb" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">MongoDB</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/firebase" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Firebase</div></div></a
                    >
                  </div>
                  <div class="item">
                    <a href="/category/data-structure" class="item_link"
                      ><img
                        class="topic-thumbnail"
                        alt="Python"
                        src="https://hackr.io/tutorials/python/logo-python.svg"
                      />
                      <div class="overlay"><div class="text">Data Structure</div></div></a
                    >
                  </div>
                </div>
              </div>
            </div>

            
            <% include partials/footer%>
