<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="catalouge.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="header">Find Your Course here</div>
        <form class="search_bar" action="index.html" method="post">
          <input type="text" name="search" placeholder="Search..">
        </form>
        <div class="all_item">
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>
          <div class="item">
            <a href="#" class="item_link"><img class="topic-thumbnail" alt="Python" src="https://hackr.io/tutorials/python/logo-python.svg"><p class="topic">Python</p></a>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
