<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="courses.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
  <body>
    <div class="header"><h1>Course List</h1></div>
    <div class="container">
      <div class="all_item">
        <div class="item">
          <div class="image">
            <img src="https://hackr.io/tutorials/python/logo-python.svg" alt="Python">
          </div>
          <div class="info">
            <div class="title">Python Course</div>
            <div class="other_info">
              <div class="course_info">
                <div class="instructor">Hidayat Khan</div>
                <div class="price">200$</div>
                <div class="added_by">Added By</div>
              </div>
              <div class="btns">
                <button class="visit_course_btn" type="button" name="button">Visit Course</button>
                <div class="vote_btn">
                  <button class="vote" type="button" name="button"><i class="far fa-thumbs-up"></i> Upvote</button>
                  <button class="vote" type="button" name="button"><i class="far fa-thumbs-down"></i> Downvote</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="https://hackr.io/tutorials/python/logo-python.svg" alt="Python">
          </div>
          <div class="info">
            <div class="title">Python Course</div>
            <div class="other_info">
              <div class="course_info">
                <div class="instructor">Hidayat Khan</div>
                <div class="price">200$</div>
                <div class="added_by">Added By</div>
              </div>
              <div class="btns">
                <button class="visit_course_btn" type="button" name="button">Visit Course</button>
                <div class="vote_btn">
                  <button class="vote" type="button" name="button"><i class="far fa-thumbs-up"></i> Upvote</button>
                  <button class="vote" type="button" name="button"><i class="far fa-thumbs-down"></i> Downvote</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
