<!-- <form action="/signup" method="POST">
    <input type="text"  name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="fullname" placeholder="full name">
    <input type="text" name="interests" placeholder="interests">
    <button>Submit</button>
</form> -->

<html>
  <head>
    <title>Login Here</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div class="page-header">
            <h1>Simple Auth-System</h1>
        </div> -->

    <!-- <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->
    <!-- <div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
                <div>
                    <a class="btn btn-success" href="/auth/google">Login with Google</a> -->
    <!-- <input class="btn btn-success" type="submit" value="Login with Google"/> -->
    <!-- </div>
                <div>
                    <a class="btn btn-success" href="/auth/facebook">Login with Facebook</a>
                </div>
                <form action="/signup" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text"  name="username" placeholder="username">
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="email" name="email" placeholder="email">
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <div>
                        <label>Fullname::</label>
                        <input type="text" name="fullname" placeholder="fullname">
                    </div>
                    <div>
                        <label>Interests:</label>
                        <input type="textarea" name="interests" placeholder="interested in..">
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Sign Up"/>
                    </div>
                </form>
            </div>
        </div> -->
    <div class="header">
      <ul id="nav">
        <li id="nav-home"><a href="index.html">Home</a></li>
        <li id="nav-about"><a href="about.html">About Us</a></li>
        <li id="nav-archive"><a href="dashboard.ejs">Dashboard</a></li>
        <li id="nav-contact"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="login-reg-panel">
      <div class="login-info-box">
        <h2>Have an account?</h2>
        <p>Nice to see you up here again.</p>
        <label id="label-register" for="log-reg-show">Login</label>
        <input
          type="radio"
          name="active-log-panel"
          id="log-reg-show"
          checked="checked"
        />
      </div>

      <div class="register-info-box">
        <h2>Don't have an account?</h2>
        <p>Come and Join our family.</p>
        <label id="label-login" for="log-login-show">Register</label>
        <input type="radio" name="active-log-panel" id="log-login-show" />
      </div>

      <div class="white-panel">
        <div class="login-show">
          <h2>LOGIN</h2>
          <form action="index.html" method="post">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="button" value="Login" />
            <a href="">Forgot password?</a>
          </form>
        </div>
        <div class="register-show">
          <h2>REGISTER</h2>
          <form action="/signup" method="post">
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
            <input type="button" value="Register" />
          </form>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
